#contenedorSearch{
  position:relative;
  float:left;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image:url('../ng-img/fondo.jpg');
  background-size: cover;
  overflow: hidden;
  padding-top: 35px;
}

#contenedorSearch::before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3); /*ultimo punto es opacidad*/
    background-image: url("http://img.abravogal.com/noise/dark.png"); /*le ponemos textura*/
    z-index: 0;
     
}

#cuadroSearch{
    position: relative;
    margin: 0 auto;
/*    left:620px;
    top:80px;*/
    max-width: 300px;
    margin-bottom:25px;
    padding:10px 15px;
    border-radius: 2px;
    border: 1px solid rgba(248, 130, 130, 1);
    box-shadow: 0 0 10px rgba(248, 130, 130, 1); /*sombras*/
    background-color:white;
    
    
}
@media all and (max-width: 1279px)
{
/*  #cuadroSearch
  {
    position: absolute;
    left:350px;
    top:80px;
  }*/
}




#contenedorSearch #cuadroSearch > input[type="text"]
{
  width: 100%;
  float: left;
  padding-right: 55px;
}

#cuadroSearch::before{
    content:'';
    position:absolute;
    z-index: 1;
    right: 35px;
    top:5px;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    border: 1px solid rgba(248, 130, 130, 1);
    box-shadow: inset 1px 1px 4px rgba(50, 50, 50, 0.15);
    background: white;
    
}

#cuadroSearch::after{
    content:'';
    position:absolute;
    z-index: 0;
    right: 27px;;
    top:12px;
    width: 16px;
    height: 12px;
    border-left:2px solid rgba(248, 130, 130, 1);
    transform: rotate(-35deg);
    transform-origin: top right;
    
}


#contador{ /* numero lupa*/
    position:absolute;
    z-index: 2;
    right: 38px;
    top:7px;
    color: purple;
    
}

#contador.notFound span /*numero lupa en rojo*/
    { 
          color: rgba(245, 50, 50, 1);
    }

#contenedorSearch #contenedorRdo
{
  position:relative;
/*  top:140px;*/
  width: 100%;
  padding:20px;
  /*z-index: 1;*/
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  
}

@media all and (max-width: 767px)
{
  #contenedorSearch #contenedorRdo
  {
    padding: 5px;
  }
}

#contenedorSearch #contenedorRdo article
{
  width: 25%;
  float: left;
  padding: 20px;
}

@media all and (max-width: 1279px)
{
  #contenedorSearch #contenedorRdo article
  {
    width: 70%;
    margin:0px 100px 0px 140px;
     background-size: cover;
     height: auto;
  }
}


@media all and (max-width: 979px)
{
  #contenedorSearch #contenedorRdo article
  {
    width: 90%;
  }
}

@media all and (max-width: 767px)
{
    #contenedorSearch #contenedorRdo article
    {
        width: 100%;
        padding: 12px 20px;
    }

}

#contenedorSearch #contenedorRdo article > *
{
  float: left;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(50, 50, 50, 0.2);
  box-shadow:  1px 1px 2px rgba(50, 50, 50, 0.25);
}

#contenedorSearch #contenedorRdo article > * > figure
{
  float: left;
  width: 100%;
  height: 25vh;
  min-height: 18vw;
  border-bottom: 1px solid rgba(50, 50, 50, 0.15);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (max-width: 767px)
{
  #contenedorSearch #contenedorRdo article > * > figure
  {
    min-height: 60vw;
  }
}

@media all and (max-width: 1279px)
{
  #contenedorSearch #contenedorRdo article > * > figure
  {
    min-height: 20vw;
  }
}


@media all and (max-width: 979px)
{
  #contenedorSearch #contenedorRdo article > * > figure
  {
    min-height: 30vw;
  }
}


#contenedorSearch #contenedorRdo article > * > div
{
  float: left;
  width: 100%;
  padding: 10px 20px;
}

#contenedorSearch #contenedorRdo article > * > div h1,
#contenedorSearch #contenedorRdo article > * > div p
{
  float: left;
  width: 100%;
  padding: 10px 0;
}

#contenedorSearch #contenedorRdo article > * > div h1.span
{
  text-transform: uppercase;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
  /*estas ultimas 3 propiedades es para cuando tenga un nombre muy largo, que ponga puntos suspensivos si sobrepasa el ancho*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media all and (max-width: 1279px)
{
    #contenedorSearch #contenedorRdo article > * > div h1
    {
     font-size: 30px;
  
    }
}

#contenedorSearch #contenedorRdo article > * > div p
{
  text-align: justify;
  line-height: 1.4rem;
  overflow: hidden;
  
}

@media all and (max-width: 1279px)
{
    #contenedorSearch #contenedorRdo article > * > div p
    {
      font-size: 15px;

    }
}    
.searchSubrayado
    {
        background-color: yellow;
    }

