 
 <div id="bbdd">
	 			<select id="contSelect">
				 	<option>Seleccione Tabla de la BBDD</option>
					<option ng-repeat="x in bbdd" value="{{x.table}}">{{x.table}}</option>
				</select>
				
				<input class="botonSelect" type="button" value="Check"  ng-click="getDataTable()"/>
		
		
		<div>
		
				<form ng-repeat="(key, value) in gettable track by $index">
					<fieldset>
       					 <input type="checkbox" />
      				</fieldset>
      				<fieldset ng-repeat="(n,v) in value">
      					<legend>{{n}}</legend>
      					<input type="text" name="{{n}}" value="{{v}}" placeholder="{{n}}" ng-readonly="'{{n}}'=== 'id'"/>
      				</fieldset>
					
				</form>
		</div>
		
		<input class="botonSelect" type="button" value="Enviar"  ng-click="send()"/>
		
		
</div>


  